<!-- Responsive navbar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-5">
    <div class="container px-lg-5">
        <a class="navbar-brand" href="/">Gestionale</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                <% if(ruolo == "Admin") { %>
                <li class="nav-item"><a class="nav-link" href="/admin/newservice/new">Nuovo Servizio</a></li>
                <li class="nav-item"><a class="nav-link" href="/admin/vieworder">Visualizza Ordini</a></li>
                <li class="nav-item"><a class="nav-link" href="/admin/viewuser">Visualizza Utenti</a></li>
                <% } %>
                <% if(ruolo == "Cliente") { %>
                    <li class="nav-item"><a class="nav-link" href="/user/storicoOrdini">Storico ordini</a></li>
                <% } %>
                <% if(!loggato) { %>
                <li class="nav-item"><a class="nav-link" href="/auth/register">Registrazione</a></li>
                <li class="nav-item"><a class="nav-link" href="/auth/login">LogIn</a></li>
                <% } else { %>
                <li class="nav-item"><a class="nav-link" href="/auth/logout">LogOut</a></li>
                <% } %>
            </ul>
        </div>
    </div>
</nav>