<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('layouts/head') -%>
</head>
<body>
    <%- include('layouts/navbar') -%>
    <div class="container">
      <h1 class="errorcode">Hai fallito!</h1>
      <a href="/" class="btn btn-primary">Riprova</a>
    </div>
    <%- include('layouts/footer') -%>
    <%- include('layouts/scripts') -%>
</body>
</html>