<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('layouts/head') -%>
</head>
<body>
    <%- include('layouts/navbar') -%>
<!--  -->
<header class="py-5">
    <div class="container px-lg-5">
        <div class="p-4 p-lg-5 bg-light rounded-3 text-center">
            <div class="m-4 m-lg-5">
                <h1 class="display-5 fw-bold">Benvenuto nel nostro Gestionale!</h1>
                <p class="fs-4">Scegli i servizi più adatti alle tue necessità. <i class="bi bi-cart-plus"></i></p>
                <% if(!loggato) { %>
                <p>(Effettua l'accesso per acquistare)</p>
                <% } %>
            </div>
        </div>
    </div>
</header>
<!-- Page Content-->
<section class="pt-4">
    <div class="container px-lg-5">
        <!-- Page Features-->
        
        <div class="row gx-lg-5">
            <% for(let i=0; i<elencoservizi.length; i++) { %>
            <div class="col-lg-6 col-xxl-4 mb-5">
                <div class="card bg-light border-0 h-100">
                    <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4">IMG</div>
                        <h2 class="fs-4 fw-bold"><%= elencoservizi[i].nome %></h2>
                        <p class="mb-0"><%= elencoservizi[i].descrizione %></p>
                        <p class="mb-0"><%= `${elencoservizi[i].prezzo} \u20ac` %></p>
                        <p class="mb-0">Durata Servizio: <%= elencoservizi[i].durataServizio %> mese/i</p>
                        <% if(loggato) { %>
                        <div class="card-footer">
                            <% if((ruolo == "Cliente")) { %>
                            <a href="/order/<%= elencoservizi[i]._id %>" class="btn btn-primary mt-1 mb-1" alt="Acquista Servizio"><i class="bi bi-cart-plus"></i></a>
                            <% } %>
                            <% if((ruolo == "Admin")) { %>
                            <a href="/admin/edit/<%= elencoservizi[i]._id %>" class="btn btn-warning mt-1 mb-1" alt="Modifica Servizio"><i class="bi bi-pencil-square"></i></a>
                            <a onclick="return confirm('Sei sicuro di voler eliminare questo servizio?')" href="/admin/delete/<%= elencoservizi[i]._id %>" class="btn btn-danger mt-1 mb-1" alt="Elimina Servizio"><i class="bi bi-trash"></i></a>
                            <% } %>
                        </div>
                        <% } %>
                    </div>
                </div> 
            </div> 
            <% } %>
        </div>
      
    </div>
</section>


<!--  -->
    <%- include('layouts/footer') -%>
    <%- include('layouts/scripts') -%>
</body>
</html>