<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('layouts/head') -%>
</head>
<body>
  <!-- Navbar -->
  <%- include('layouts/navbar') -%>
  <!-- Navbar -->
  <div class="container">
    <h2 class="text-center mb-5">Form di Login</h2>
    <form action="/auth/login" method="post">
      <div class="form-floating mb-3">
        <input type="email" class="form-control" name="inputEmail" id="emailLog" placeholder="Inserisci la tua Email">
        <label for="emailLog">Email</label>
      </div>
      <div class="form-floating">
        <input type="password" class="form-control" name="inputPassword" id="passwordLog" placeholder="Inserisci la tua Password">
        <label for="passwordLog">Password</label>
      </div>
      <div class="d-grid gap-2 col-6 mx-auto mt-4">
        <button  class="btn btn-primary ml-2 btn-lg" type="submit">LogIn</button>
      </div>
    </form>
    <!-- <div class="alert alert-success mt-3" role="alert">
      <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
      Hai effettuato il login con successo!
    </div> -->
  </div>
  <!-- Footer -->
  <%- include('layouts/footer') -%>
  <!-- Footer -->
  <!-- Scripts -->
  <%- include('layouts/scripts') -%>
  <!-- Scripts -->
</body>
</html>