<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('layouts/head') -%>
</head>
<body>
    <!-- Navbar -->
    <%- include('layouts/navbar') -%>
    <!-- Navbar -->
    <div class="container">
        <h2 class="mb-5 text-center">Inserimento Nuovo Servizio</h2>
        <form action="/admin/newservice/save" method="POST">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" name="inputTitle" id="title" placeholder="Insert Title"> <!-- ricorda di usare name per le form -->
                <label for="title">Nome</label>
            </div>
            <div class="form-floating mb-3">
                <input type="number" class="form-control" name="inputPrice" id="price" placeholder="name@example.com">
                <label for="price">Prezzo</label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" name="inputDescription" id="description" placeholder="name@example.com">
                <label for="description">Descrizione</label>
            </div>
            <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" id="durata" name="inputDurata">
                <option selected>Seleziona la durata MENSILE del Servizio</option>
                <option value="1">1 mese</option>
                <option value="2">2 mesi</option>
                <option value="3">3 mesi</option>
                <option value="4">4 mesi</option>
                <option value="5">5 mesi</option>
                <option value="6">6 mesi</option>
                <option value="7">7 mesi</option>
                <option value="8">8 mesi</option>
                <option value="9">9 mesi</option>
                <option value="10">10 mesi</option>
                <option value="11">11 mesi</option>
                <option value="12">12 mesi</option>
              </select>
            <div class="d-grid gap-2 col-6 mx-auto mt-4">
                <button  class="btn btn-primary ml-2 btn-lg" type="submit">Aggiungi Servizio</button>
            </div>
        </form>
    </div>
    <!-- Footer -->
    <%- include('layouts/footer') -%>
    <!-- Footer -->
    <!-- Scripts -->
    <%- include('layouts/scripts') -%>
    <!-- Scripts -->
</body>
</html>