<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('layouts/head') -%>
</head>
<body>
    <%- include('layouts/navbar') -%>
    <div class="container">
      <h1 class="errorcode">ERROR 403 - Non hai le autorizzazioni per entrare in questa pagina!</h1>
    </div>
    <%- include('layouts/footer') -%>
    <%- include('layouts/scripts') -%>
</body>
</html>