<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('layouts/head') -%>
</head>
<body>
    <%- include('layouts/navbar') -%>
    <div class="container">
      <h1 class="errorcode">Ordine avvenuto con successo!</h1>
      <a href="/" class="btn btn-primary">Home</a>
      <a href="/user/storicoOrdini" class="btn btn-primary">Storico Ordini</a>
    </div>
    <%- include('layouts/footer') -%>
    <%- include('layouts/scripts') -%>
</body>
</html>