<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('layouts/head') -%>
</head>
<body>
  <%- include('layouts/navbar') -%>
  <div class="container">
    <h1>Dettagli di Pagamento e Note del Servizio:</h1>

    <form action="/order/save/<%= servizioSelezionato %>" method="post">  
      <div>
        <label for="metodo">Metodo di Pagamento: </label>
        <select class="form-control mb-2" name="inputPagamento" id="metodo">
          <option value="">Seleziona il tuo metodo di pagamento</option>
          <option value="PAYPAL">Paypal</option>
          <option value="BONIFICO">Bonifico</option>
          <option value="CONTANTI">Contanti</option>
        </select>
      </div>
      <div class="form-floating mb-3">
        <textarea class="form-control" name="inputNote" id="note" cols="30" rows="10"></textarea>
        <label for="note">Inserisci una nota</label>
      </div>
      <button type="submit" class="btn btn-primary">Fai il tuo ordine</button>
    </form>
  </div>
  <%- include('layouts/footer') -%>
  <%- include('layouts/scripts') -%>
</body>
</html>