<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('layouts/head') -%>
</head>
<body>
    <!-- Navbar -->
    <%- include('layouts/navbar') -%>
    <!-- Navbar -->
    <div class="container">
      <h2 class="text-center mb-5">Form di Registrazione</h2>
      <form action="/auth/register" method="POST">
        <div class="form-floating mb-3">
          <input type="email" class="form-control" name="inputEmail" id="emailReg" placeholder="Inserisci la tua mail">
          <label for="emailReg">Email address</label>
        </div>
        <div class="form-floating">
          <input type="password" class="form-control" name="inputPassword" id="passwordReg" placeholder="Inserisci la tua Password">
          <label for="passwordReg">Password</label>
        </div>
        <div class="form-group row mt-4 mb-4">
            <label class="mr-sm-2 col-auto" for="selezione">Preference</label>
            <select class="custom-select mr-sm-2 col-auto" id="selezione" name="inputSelect">
                <option value="">Seleziona il tuo ruolo</option>
                <option value="Admin">Admin</option>
                <option value="Cliente">Cliente</option>
            </select>
        </div>
        <div class="d-grid gap-2 col-6 mx-auto mt-4">
          <button  class="btn btn-primary ml-2 btn-lg" type="submit">Registrati</button>
        </div>
      </form>
      <!-- <div class="alert alert-success mt-3" role="alert" id="successoReg">
        <div class="spinner-border" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
        Hai effettuato la registrazione con successo!
      </div> -->
    </div>
    <!-- Footer -->
    <%- include('layouts/footer') -%>
    <!-- Footer -->
    <!-- Scripts -->
    <%- include('layouts/scripts') -%>
    <!-- Scripts -->
</body>
</html>