<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('layouts/head') -%>
</head>
<body>
    <%- include('layouts/navbar') -%>
    <div class="container">
        <h1 class="text-center mb-2">Il tuo Storico Ordini</h1>
        <p class="text-center mb-5">Qui puoi consultare i servizi acquistati e le relative scadenze, buona visione!</p>
        <div class="row gx-4 gx-lg-5">
            <div class="col-md-8 mb-5">
                <div class="card h-100">
                    <div class="card-body">
                        <h3 class="card-text">Servizio Acquistato: <%= myorder.servizio %></h3>
                    </div>
                    <div class="card-footer">
                        <p class="card-title"><sub>data ordine:</sub>&nbsp;&nbsp;&nbsp;<%= myorder.data %></p>
                        <p class="card-title"><sub>metodo di pagamento:</sub>&nbsp;&nbsp;&nbsp;<%= myorder.pagamento %></p>
                        <p class="card-title"><sub>note:</sub>&nbsp;&nbsp;&nbsp;<%= myorder.note %></p>
                        <p class="card-title"><sub>durata:</sub>&nbsp;&nbsp;&nbsp;<%= myorder.durata %> mese/i</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include('layouts/footer') -%>
    <%- include('layouts/scripts') -%>
</body>
</html>