<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('layouts/head') -%>
</head>
<body>
    <!-- Navbar -->
    <%- include('layouts/navbar') -%>
    <!-- Navbar -->
    <div class="container">
        <h2 class="mb-1 text-center">Aggiornamento del Servizio: "<%= modificaServizio.nome %>"</h2>
        <p class="mb-5 text-center">Conferma o modifica i vari campi</p>
        <form action="/admin/edit/save/<%= modificaServizio._id %>" method="POST">
            <div class="form-group mb-3">
                <input type="text" class="form-control" name="inputTitle2" id="title" placeholder="<%= modificaServizio.nome %>"> <!-- ricorda di usare name per le form -->
                <label for="title"></label>
            </div>
            <div class="form-group mb-3">
                <input type="number" class="form-control" name="inputPrice2" id="price" placeholder="<%= modificaServizio.prezzo %>">
                <label for="price"></label>
            </div>
            <div class="form-group mb-3">
                <input type="text" class="form-control" name="inputDescription2" id="description" placeholder="<%= modificaServizio.descrizione %>">
                <label for="description"></label>
            </div>
            <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" id="durata" name="inputDurata2">
                <option selected>Aggiorna la durata del Servizio: <%= modificaServizio.durataServizio %> mese/i</option>
                <option value="1">1 mese</option>
                <option value="2">2 mesi</option>
                <option value="3">3 mesi</option>
                <option value="4">4 mesi</option>
                <option value="5">5 mesi</option>
                <option value="6">6 mesi</option>
                <option value="7">7 mesi</option>
                <option value="8">8 mesi</option>
                <option value="9">9 mesi</option>
                <option value="10">10 mesi</option>
                <option value="11">11 mesi</option>
                <option value="12">12 mesi</option>
              </select>
            <div class="d-grid gap-2 col-6 mx-auto mt-4">
                <button  class="btn btn-primary ml-2 btn-lg" type="submit">Aggiorna Servizio</button>
            </div>
        </form>
    </div>
    <!-- Footer -->
    <%- include('layouts/footer') -%>
    <!-- Footer -->
    <!-- Scripts -->
    <%- include('layouts/scripts') -%>
    <!-- Scripts -->
</body>
</html>