<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('layouts/head') -%>
</head>
<body>
    <%- include('layouts/navbar') -%>
    <div class="container">
        <h1 class="text-center mb-2">Visualizzazione Utenti</h1>
        <p class="text-center mb-5">Attenzione, hai la possibilità di cancellare gli utenti!</p>
        <div class="row gx-4 gx-lg-5">
            <% for(let i=0; i<elencouser.length; i++) { %>
            <div class="col-md-6 mb-5">
                <div class="card h-100">
                    <div class="card-body">
                        <h3 class="card-text"><%= elencouser[i].username %></h3>
                        <p class="card-title"><%= elencouser[i].role %> <sub>(ruolo)</sub></p>
                    </div>
                    <div class="card-footer">
                        <a onclick="return confirm('Sei sicuro di voler eliminare questo utente?')" href="/admin/viewuser/delete/<%= elencouser[i]._id %>" >
                            <p class="btn btn-danger">Elimina questo profilo</p>
                        </a>
                    </div>
                </div>
            </div>
            <% } %>
        </div>
    </div>
    <%- include('layouts/footer') -%>
    <%- include('layouts/scripts') -%>
</body>
</html>