<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('layouts/head') -%>
</head>
<body>
    <%- include('layouts/navbar') -%>
    <div class="container">

        <h1 class="text-center">Tabella Ordini</h1>
        <p class="mb-5 text-center">Qui potrai visualizzare tutti i dati di tutti gli ordini acquistati dai tuoi users.</p>
        <table class="table mt-5">
            <thead class="thead-dark">
              <tr>
                <th scope="col">#</th>
                <th scope="col">User</th>
                <th scope="col">Servizio</th>
                <th scope="col">Metodo di Pagamento</th>
                <th scope="col">Durata (mese/i)</th>
                <th scope="col">Data di acquisto</th>
              </tr>
            </thead>
            <tbody>
                <!-- for(let [indice, elemento] of scaffale.entries()){
                    console.log(indice, elemento)
                } -->
            <% for(let [idx, elemento] of lista.entries()) { %>
              <tr>
                <th scope="row"><%= idx+1 %></th>
                <td><%= elemento.user %></td>
                <td><%= elemento.servizio %></td>
                <td><%= elemento.pagamento %></td>
                <td><%= elemento.durata %></td>
                <td><%= elemento.data %></td>
              </tr>
            <% } %>
            </tbody>
          </table>
    </div>
    <%- include('layouts/footer') -%>
    <%- include('layouts/scripts') -%>
</body>
</html>